* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
  }

  .profile {
    background-color: rgb(217, 171, 171);
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  