* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }



  .profile {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
  }

  .profile p {
    margin: 5px 0;
  }

  .profile b {
    font-weight: bold;
  }

  img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }



  .activities {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  .activities h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .activities table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .activities th,
  .activities td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .activities th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .activities tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .activities tbody tr:hover {
    background-color: #e0e0e0;
  }
  