<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <% if (loggedUser) { %>
    <a class="navbar-brand" href="/">1DV027-WT1</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/activities">Activites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/group-projects">Group projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <% } else { %>
      <a class="navbar-brand" href="/">1DV027-WT1</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/redirect">Login with gitlab</a>
        </li>
      </ul>
    </div> 
    <% } %>
  </nav>
</header>